.btn__page {
  margin-right: 10px;
  padding: 7px;
  background-color: #202020;
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
  width: 50px;
}
.center {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
