.preloader__bg {
  position: absolute;
  z-index: 100;

  min-width: 100%;
  min-height: 100%;
  background: rgba(20, 20, 20, 0.9);
}

.preloader {
  position: fixed;
  top: calc(50vh - 75.5px);
  left: calc(50vw - 75.5px);
}
