.contact {
}
.contact li {
	margin-left: 24px;
  margin-bottom: 12px;
}
.contact li,
li input,
span {
	font-size: 14px;
}
.contact li input {
	width: 300px;
}
.contact span{
  display: inline-block;
  width: 80px;
}
.fName {
	text-align: center;

	color: #202020;
	font-size: 24px;
}
.job {
}
.jobDescription {
}
.aboutMe {
	color: #202020;
	font-size: 19px;
}
