.profile {
  margin: 17px 19px 11px 2px;
  width: 90%;
  background-color: #fff;
  border-radius: 45px;
  font-size: 16px;
  overflow-y: auto;
}
.profile__user {
  position: relative;
  max-width: 1200px;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 300px auto;
  gap: 28px;
  grid-template-areas: "avatar profileData"
    "avatar profileData"
    "avatar profileData"
    "status profileData";
  
}
.avatar {
  grid-area: avatar;
}
.status {
  grid-area: status;
  margin-left: 50px;
}
.status * {
  font-size: 18px;
}
.profileData{
  grid-area: profileData;
}
.btn {
  position: absolute;
  top: 20px;
  right: 36px;
  font-size: 16px;
}