.users__page {
  margin: 17px 19px 11px 2px;
  padding: 20px;
  width: 90%;
  background-color: #fff;

  border-radius: 45px;
  font-size: 16px;
  overflow-y: auto;
}
.users {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media (max-width: 1540px) {
  .users {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1180px) {
  .users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 980px) {
  .users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 710px) {
  .users {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.users::-webkit-scrollbar {
  width: 0;
}
