* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-size: cover;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
.editIcon {
  display: none;
}

@media (max-width: 480px) {
  .editProfile {
    display: none;
  }
  .editIcon {
    display: block;
  }
}
